#displayer {
    width: 400px;
    height: 150px;
    margin-bottom: 15px;
    font-size: 30px;
}
.calculadora {
  border: 1px solid red;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.calcbody {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.numeros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  align-items: center;
  margin-bottom: 15px;
}
.numborder {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.zero {
    width: 244px;;
}
